@import './contact.css';
@import './post.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins Font use  font-family: 'Poppins', sans-serif; */
body{
    background-color: aliceblue;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    margin: 0;
    padding: 0;

    /* grid for page layout  */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
}

/*** Anything smaller than first breakpoint 600px ***/

/** Start style header of blog **/

header h1{
    text-align: center;
    font-size: 1.5em;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links{
    list-style-type: none;
    display: flex;
}

.social-links li{
    margin-left: 30px;
}

.social-links li:first-child {
    margin-left: 0; /* Remove the margin from the first social link */
}

a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: #333;
}

a:hover{
    color: #f79918;
    
}

#contact{
    margin-right: 50px;
}

#search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    width: 90%;
    border-radius: 30px;
    margin: auto;
}

#search span{
    color: #ccc;
    font-size: 0.7em;
    margin: 5px
}

#search input{
    width: 90%;
    background-color: aliceblue ;
    border: none;
    font-size: 0.7em;
    font-weight: 400;
}

#search input:focus{
    border: none;
    outline: none;
}

/** End style header of blog **/

/** Start style main of blog **/

/* Posts section */

.post{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 15px;
    padding: 10px;
    margin-top: 30px;
}

.post .thumbnail img{
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
}

.post .contant .date{
    font-size: 0.7em;
    font-weight: 300;
}

.post .contant h2{
    margin-top: 5px;
    font-size: 0.9em;
}

.post .contant p{
    font-size: 0.7em;
}

.author a{
    display: flex;
    align-items: center;
}

.contant .author .author-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.contant .author .author-text{
    font-size: 0.7em;
}

.contant .author .author-text span{
    font-size: 0.8em;
    font-weight: lighter;
}

/* Subscribe seaction */

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #ccc;
}

.subscribe h2{
    font-size: 1em;
    color: black;
}

.subscribe input[type="email"]{
    border: 1px solid #333;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #ccc;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    margin: auto;
    font-size: large;
    margin-bottom: 20px;
}

.subscribe input[type="submit"]{
background-color: #f79918;
border: 1px solid transparent;
color: white;
font-size: 0.7em;
padding: 10px 0;
border-radius: 30px;
}

.subscribe input[type="submit"]:hover{
    cursor: pointer;
    background-color: #888;
    color: #f79918;
    font-weight: 800;
    transition: 0.5s ease;
}

/** End style main of blog **/

/** Start style footer of blog **/

footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

footer .social-links a{
    padding: 5px 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 40px;
}

footer p{
    font-size: 0.7em;
    text-align: center;
    font-weight: 300;
}

/** End style footer of blog **/

/*** Medium Screens ***/

@media (min-width: 600px) and (max-width:900px) {
    
    /** Start style header of blog **/
    
    header{
        display:flex;
        justify-content: center;
        margin: auto;
    }
    
    header #search{
        order: 1;
        width: 30%;
        margin-left: 10px ;
    }
    header h1{
        order: 2;
        width: 50%;
        font-size: 1.2em !important;
        margin-left: 10px;
    }
    header .links{
        order: 3;
        font-size: 0.7em;
        margin-left: 10px;
        padding: 0 !important;
    }
    
    #contact{
        margin-left: 20px;
        margin-right: 10px;
    }

    /** End style header of blog **/

    /** Start style main of blog **/

    .post .thumbnail img{
        width: 100%;
        height: 40%;
    }

    .subscribe{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "h2 h2 h2"
        "email email btn";
    }

    .subscribe h2{
        grid-area: h2;
    }

    .subscribe input[type="email"]{
        grid-area: email;
    }

    .subscribe input[type="submit"]{
        grid-area: btn;
        margin-left: 20px;
        height: 60px;
    }

    /** End style main of blog **/

}

/*** Large Screens ***/

@media (min-width:901px) {

    /** Start style header of blog **/

    header{
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin: 0 20px;
    }

    header h1{
        order: 1;
    }

    header .links {
        order: 3;
        font-size: 0.8em;
        display: flex;
        justify-content: space-between;
    }

    header .links .social-links{
        margin-right: 100px;
    }

    header #search{
        order: 2;
        width: 40%;
    }

    /** End style header of blog **/

    /** Start style main of blog **/

    .posts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;
    }

    .post .thumbnail img{
        min-width: 80%;
        height: 90%;
    }

    .post .contant{
        margin-top: -20px;
    }

    .post .contant h2 {
        width: 90%;
    }

    .post .contant p {
        width: 90%;
    }

    .subscribe{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "h2 h2 h2"
        "email email btn";
    }

    .subscribe h2{
        grid-area: h2;
        margin-left: 40px;
    }

    .subscribe input[type="email"]{
        grid-area: email;
    }

    .subscribe input[type="submit"]{
        grid-area: btn;
        margin-left: 20px;
        height: 60px;
    }

    /** End style main of blog **/

}   



